[Unit]
Description=MEDW AI Analysis API Service
After=network.target

[Service]
User={{ user_name }}
Group={{ user_name }}
WorkingDirectory={{ deploy_root }}/src
Environment="PATH={{ deploy_root }}/venv/bin"
Environment="PYTHONUNBUFFERED=1"
ExecStart={{ deploy_root }}/venv/bin/python3 {{ deploy_root }}/src/api.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
